<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Perfil del cliente</h1>
    <p>Nombre: <%= client.nombre %></p>
    <p>rol:<%= client.rol %></p>
    <p>Email: <%= client.email %></p>
    
</body>
</html>